<!DOCTYPE html>
<html>
  <head>
    <title>CAPS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="css/glightbox.css") }}" />
    <script src="{{ get_url(path="js/glightbox.min.js") }}"></script>
  </head>
  <body>
    <div class="top-img">
      <img class="top-img" src="/images/foto.JPG" />
    </div>
    <nav id="menu-bar">
      <ul id="menu-list">
        <li><a class="nav-link" href="{{ get_url(path="/") }}">About</a></li>
	      <li><a class="nav-link" href="{{ get_url(path="current/") }}">Current year</a></li>
        <li><a class="nav-link" href="{{ get_url(path="rules/") }}">Rules</a></li>
        <li><a class="nav-link" href="{{ get_url(path="problems-and-solutions/") }}">Problems & Rankings</a></li>
        <li><a class="nav-link" href="{{ get_url(path="organizers/") }}">Organizers</a></li>
        <li class="menu-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" >Gallery</a>
          <ul class="dropdown-menu">
            <li><a href="{{ get_url(path="gallery/2025/") }}">2025</a></li>
          </ul>
        </li>


      </ul>
      <div class="logo">
        <img src="/images/logo2.png" alt="Logo">
      </div>
    </nav>
    <main class="site-content">
      {% block content %} {% endblock content %}
    </main>

  <script>
    var lightbox = GLightbox();
    var lightboxVideo = GLightbox({
          selector: '.glightbox',
          touchNavigation: true,
          zoomable: true
    });
  </script>

  </body>
</html>
