{% extends "base.html" %}

{% block content %}
<h2>Main organizers</h2>

<div class="organizers">
    {%- for organizer in page.extra.mainOrganizers %}
        <div class="organizer-card">
            <img src="/images/{{ organizer.photo }}" alt="{{ organizer.name }}" width="150" />
            <h2>{{ organizer.name }}</h2>
            <p>Email: <a href="mailto:{{ organizer.email }}">{{ organizer.email }}</a></p>
        </div>
    {%- endfor %}
</div>

{{page.content|safe}}
{% endblock content %}
