{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>
{{page.content|safe}}

<div class="organizers">
    {% for organizer in page.extra.organizers %}
        <div class="organizer-card">
            <img src="/images/{{ organizer.photo }}" alt="{{ organizer.name }}" width="150" />
            <h2>{{ organizer.name }}</h2>
            <p>Email: <a href="mailto:{{ organizer.email }}">{{ organizer.email }}</a></p>
            <p>Phone: <a href="tel:{{ organizer.phone }}">{{ organizer.phone }}</a></p>
        </div>
    {% endfor %}
</div>

{% endblock content %}
